body {
    background-image: url(../img/pattern.png);
    margin: 0;
}

header {
    width: 100%;
    height: fit-content;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 10;
}

header .logo {
    float: left;
}

header a {
    float: right;
    list-style-type: none;
    text-decoration: none;
    padding-right:20px;
}

section {
    margin: 60px 20% 0px 20%;
    padding-bottom: 40px;
    background-color: white;
}

section h1 {
    margin: 0px;
    padding: 20px 0px;
    text-align: center;
}

article {
    margin: 0px 10px 5px 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

article h3 {
    margin-top: 40px;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

footer h5 {
    margin: 0;
    padding: 25px 0px;
}

